{% include 'base.html' %}

<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">{{ object.title }}</h1>

            <p class="lead">
                by
                {{ object.owner }}
            </p>

            <hr>

            <p>Posted on {{ object.created }}</p>

            <hr>

            <p class="lead">{{ object.content }}</p>

            <a href="/technotes/{{ object.id }}/update" class="btn btn-dark">Edit</a>
            <a href="/technotes/{{ object.id }}/delete" class="btn btn-danger">Delete</a>
            <!-- <button type="button" class="btn btn-danger">Delete</button> -->
            <!-- <form method="post">
                {% csrf_token %} 
                <input type="submit" class="btn btn-danger" value="Delete"> 
            </form>  -->
        </div>
    </div>

</div>

<!-- 
<h1>{{ object.title }}</h1> 
<p>{{ object.created }}</p>
<h3>{{ object.content }}</h3> -->